<!-- <wrapper class="main-content no-bb">
    <img src="http://dev.adipurdila.com/emails/magni-showcase.png" alt="Magni">
    <spacer size="30"></spacer>
    <h4>Meet Magni - responsive mega-menu</h4>
    <spacer size="30"></spacer>
    <p>Magni was born from the desire to provide users with an easy to use and customize drop-down menu that would fit even their most complex website navigations.</p>
    <p>Read more about it on <a href="#">the blog</a> or buy it directly from <a href="#">CodeCanyon</a>.</p>                                        
</wrapper> -->

<wrapper class="secondary-content">
    <h4>New course: Introduction to Sequence.js</h4>
    <spacer size="30"></spacer>
    <img src="http://dev.adipurdila.com/emails/sequence.png" alt="Sequence" class="float-left custom-image" height="200">
    <p style="padding: 20px;">Sequence.js is a CSS animation framework which you can use to create sliders, presentations, and other step-based applications. Read more about it on <a href="#">Tuts+</a>.</p>                    
</wrapper>
<wrapper class="secondary-content">
    <h4>New course: Introduction to Sequence.js</h4>
    <spacer size="30"></spacer>
    <img src="http://dev.adipurdila.com/emails/sequence.png" alt="Sequence" class="float-right custom-image" height="200">
    <p style="padding: 20px;">Sequence.js is a CSS animation framework which you can use to create sliders, presentations, and other step-based applications. Read more about it on <a href="#">Tuts+</a>.</p>                    
</wrapper>

<wrapper class="secondary-content">
    <h4>New course: Introduction to Sequence.js</h4>
    <spacer size="30"></spacer>
    <img src="http://dev.adipurdila.com/emails/sequence.png" alt="Sequence" class="float-left custom-image" height="200">
    <p style="padding: 20px;">Sequence.js is a CSS animation framework which you can use to create sliders, presentations, and other step-based applications. Read more about it on <a href="#">Tuts+</a>.</p>                    
</wrapper>
<wrapper class="secondary-content">
    <h4>New course: Introduction to Sequence.js</h4>
    <spacer size="30"></spacer>
    <img src="http://dev.adipurdila.com/emails/sequence.png" alt="Sequence" class="float-right custom-image" height="200">
    <p style="padding: 20px;">Sequence.js is a CSS animation framework which you can use to create sliders, presentations, and other step-based applications. Read more about it on <a href="#">Tuts+</a>.</p>                    
</wrapper>